.dark{
    background-color: rgb(50, 18, 18);
    color: white
}
.activetab {
    background-color: #073857;
    color: white !important;
    width:  14vw;
    padding: 10px;
    border-radius: 5px;
    /* margin-left: 0px !important; */
    /* justify-content: center; */
    /* text-align: center; */
    /* margin-right: 20px; */
}